<div class="record-container">
  <label class="record-title">{{ title }}</label>
  <div class="record-item">
    <p>Min:</p>
    <span class="spacer"></span>
    <p>{{ record.min }} ms</p>
  </div>
  <div class="record-item">
    <p>Avg:</p>
    <span class="spacer"></span>
    <p>{{ record.avg }} ms</p>
  </div>
  <div class="record-item">
    <p>Max:</p>
    <span class="spacer"></span>
    <p>{{ record.max }} ms</p>
  </div>
  <div class="record-item aggregate">
    <p>Sum:</p>
    <span class="spacer"></span>
    <p>{{ record.sum }} ms</p>
  </div>
  <div class="record-item aggregate">
    <p>Count:</p>
    <span class="spacer"></span>
    <p>{{ record.counter }}</p>
  </div>
</div>
